@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@600&display=swap');
body{
	background-color: lightgrey;
	font-family: 'Prompt', sans-serif;
}
.container{
	position: absolute; top: 50%; left: 50%;
	transform: translate(-50%, -50%);
}
.card{
	position: absolute; top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	width: 500px; height: 150px;
	border-radius: 10px;
	background-color: white;
	box-shadow: 2px 2px 10px black;
	z-index: -1;
}
h1, .cont, .mess{
	text-align: center;
	z-index: 1;
}
.cont{
	font-weight: lighter;
}
.mess{
	position: relative;
	top: 30px;
	font-size: 15px;
	color: white; text-shadow: 1px 1px  5px black;
	font-family: monospace;
	font-weight: bolder;
}
a{
	text-decoration: none;
	color:cadetblue;
}
a:hover{
	cursor: pointer;
	color: red;
}

@media only screen and (max-width: 600px){

	.card{
		width: 320px;
		height: 180px;
	}
}