.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav{
    display: flex;
    justify-content: end;
    width: 92%;
    align-items: center;
    margin:10px 30px;
    padding-right: 100px;
}
.navbar{
    
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.navbar li a{
    display: block;
    text-decoration: none;
    color: rgb(160, 144, 144);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    margin:10px 0px ;
    padding: 10px;
}
.navbar li a:hover{
    color: darkcyan;
    border-radius: 5px;
    transform: scale(1.2, 1.2);
}
.title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(2, 7, 77);
}
.content{
    width: 98%;
    margin: 30px 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}
.child{
    width: 250px; height: 300px;
    border: 1px solid gray;
    display: flex;
    flex-wrap: wrap; flex-direction: row;
    justify-content: center; align-items: center;
    box-shadow: 1px 1px 5px black;
}
.child:hover{
    transform: scale(1.2, 1.2);
    box-shadow: 2px 2px 10px black;
    transition: all 600ms ease-in-out;
}
.desc h3{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.img-sec{
    height: 50%;
    width: 100%;
    display: flex; justify-content: center;
}
.desc{
    height: 50%;
    display: flex;
    background-color: #fff;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /* text-align: center; */
}
.img-sec img{
    width: 150px;
}
.btn{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 10px;
    color: white; text-shadow: 1px 1px 1px black;
}
.education .img-sec{
    background: #00e1ff;
}
.education .desc a{
    background-color: #00e1ff;
}
.rewards .img-sec{
    background-color: gold;
}
.rewards .desc a{
    background-color: gold;
}
.project .img-sec{
    background-color: #558f65;
}
.project .desc a{
    background-color: #558f65;
}
.skils .img-sec{
    background-color: #407BFF;
}
.skils .desc a{
    background-color: #407BFF;
}
.foo-sec{
    display: none;
}
.footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(2, 7, 77);
    flex-direction: column;
}
.footer .f-links{
    margin: 10px 0px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.ic{
    background-color:white; 
    padding:3px;
}
.footer .f-links a{
    color: rgba(255, 255, 255, 0.712);
    padding: 10px;
    display: block;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.footer .f-social{
    margin: 5px 0px;
    padding: 10px;
}
.footer .fm{
    color: white;
    margin: 10px 0px; font-weight: bolder; font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.footer .copy{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}
@media only screen and (max-width: 600px){
    .foo-sec{
        display: block;
    }
    .child{
        margin-bottom: 30px;
    }
    .footer{
        width: 100%;
        margin-top: 50px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .navbar{
        display: none;
    }
    .content{
        flex-wrap: wrap;
        justify-content: space-around;
    }
}